.Status-header {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 1);
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
