.App {
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    height: 100%;
}

.Col {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.Primary-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem;
    height: 100%;
}
